{% load static %}

<html>
<head>
    <title>Blogs</title>
    <meta charset="UTF-8">
    <meta name="description" content="Site created for practice while studying">
    <meta name="author" content="Ralenko S.">
    <link rel="stylesheet" href="{% static 'catblogs/css/style.css' %}">
    <link rel="icon" type="image" href="{% static 'catblogs/images/icon1.jpg' %}">
</head>
<body>
<div class="body-wrapper">
    <header class="header">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/blogs">Every day is Caturday Blogs</a>
            </div>

            <div class="login">
                {% if not user.is_authenticated %}
                <div class="button"><a href="/accounts/login?next={{request.path}}">Log in</a></div>
                {% elif user.is_authenticated %}
                <div class="user">{{ user.get_username }}</div>
                <div class="button"><a href="/accounts/logout">Log out</a></div>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="content">
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        <div class="sidebar">
            <nav class="nav">
                <ul class="nav-ul">
                    <a href="{% url 'catblogs:catpost_new' %}"><li>Create new</li></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'catblogs:catpost_my_posts' %}"><li>My posts</li></a>
                    {% endif %}
                    <a href="{% url 'catblogs:catpost_recent' %}"><li>Recent publications</li></a>
                    <a href="{% url 'catblogs:catpost_short' %}"><li>Short stories</li></a>
                    <a href="{% url 'catblogs:catpost_article' %}"><li>Serious articles</li></a>
                    <a href="{% url 'catblogs:catpost_archive' %}"><li>Archive of publications</li></a>
                </ul>
            </nav>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2021 Made by Chameleon Leonard ~^o.o^~</p>
        </div>
    </footer>
</div>
</body>
</html>
