{% extends 'catblogs/base.html' %}

{% block content %}
    <h1>Famous Cats tell their stories</h1>
    {% for catpost in catposts %}
        <div class="post">
            <h2><a href="{% url 'catpost_detail' pk=catpost.pk %}">{{ catpost.catitle }}<a></h2>
            <br>
            <p>{{ catpost.catext|linebreaksbr }}</p>
            <br>
            <p class="auth-date">Author: {{ catpost.catauthor }}. Published: {{ catpost.publication_date }} </p>
            <hr>
            <br>
        </div>
    {% endfor %}
{% endblock %}

