* {
  margin: 0;
  padding: 0;
}

html {
  background: #f0f0f0;
}

body {
  background: #d9d9d9;
  /*padding: 0 15px;*/
  position: relative;
}

header {
  background: linear-gradient(#f5ce64 30%, #fff);
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 60px;
}

header:after {
  display: table;
  content: "";
  clear: both;
}

.mid-block {
  background: #fff;
  min-height: 750px;
}

footer {
  background: #f5ce64;
  text-align: center;
}



.container {
  padding: 15px;
}



.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-between;
}



.logo {
  float: left;
}

.logo a {
  text-decoration: none;
  color: black;
}


.login {
  float: right;
  font-size: 18px;
}

.login a {
  text-decoration: none;
  color: black;
}



.content {
  width: 750px;
  float: left;
  padding: 25px 0;
}

.content h1 {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.content h2 {
  margin: 5px 25px;
  font-size: 16px;
}

.content h2 a {
  text-decoration: none;
  color: #000;
}

.content h2 a:hover {
  text-decoration: underline;
  color: #4a3600;
}

.content h2 a:visited {
  color: #4a3600;
}

.content p {
  font-size: 14px;
  padding: 0 10px;
}

.date p {
  font-size: 12px;
  float: right;
}

.edit {
  text-decoration: none;
  color: #4a3600;
  float: right;
  font-size: 12px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #4a3600, #fff);
}

.content .auth-date {
  font-size: 11px;
  text-align: center;
}


.sidebar {
  margin: 80px 0;
  background: #f5ce64;
  float: right;
  border: 3px solid #fcd874;
  border-style: outset;
  width: 200px;
}

nav {
  padding: 5px 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  text-align: right;
}

nav li {
  background: #fff;
  list-style-type: none;
  padding: 5px 10px;
  margin: 5px 0px;
  border: 2px solid #fcce51;
  border-style: outset;
}

nav li:hover {
  background: #ffd874;
}

nav li:active {
  background: #fcce51;
  border-style: inset;
  color: #4a3600;
}


footer p {
  font-size: 11px;
  color: #4a3600;
}

