{% extends "accounts/main.html" %}

{% block content %}
    <div class="form">
        <div class="mess">
            <p class="mess">Use the form below to change your password.</p>
        </div>
        <form action="." method="post">
            {% if form.old_password.errors %}
                <div class="err">{{ form.old_password.errors }}</div>
            {% endif %}
            {% if form.new_password1.errors %}
                <div class="err">{{ form.new_password1.errors }}</div>
            {% endif %}
            {% if form.new_password2.errors %}
                <div class="err">{{ form.new_password2.errors }}</div>
            {% endif %}
            <table>
                <tr>
                    <td>{{ form.old_password.label_tag }}<br>{{ form.old_password }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password1.label_tag }}<br>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.label_tag }}<br>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password1.help_text|safe }}</td>
                </tr>
            </table>

            <div class="but-wrap">
                <input class="button" type="submit" value="Change password">
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
