{% load static %}

<html>
<head>
    <title>Polls</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'catpolls/css/style.css' %}">
    <link rel="icon" type="image" href="{% static 'catpolls/images/icon1.jpg' %}">
</head>
<body>
<div class="body-wrapper">
    <header class="header">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/polls">Every day is <br>Caturday Polls</a>
            </div>

            <div class="nav-wrapper">
                <nav class="nav">
                    <ul class="nav-ul">
                        <a href="{% url 'catpolls:popular' %}"><li>Popular polls</li></a>
                        <a href="{% url 'catpolls:random' %}"><li>Random poll</li></a>
                        {% if user.is_authenticated %}
                        <a href=""><li>My polls</li></a>
                        <a href=""><li>Create poll</li></a>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="login-wrapper">
                <div class="login">
                    {% if not user.is_authenticated %}
                    <p><a href="/accounts/login?next={{request.path}}">Log in</a></p>
                    {% elif user.is_authenticated %}
                    <p><a href="/accounts/logout">Log out</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2021 Made by Chameleon Leonard ~^o.o^~</p>
        </div>
    </footer>
</div>
</body>
</html>
