{% extends 'catpolls/index.html' %}
{% load static %}

{% block content %}
    <div class="image">
        <img src="{% static 'catpolls/images/img20.jpg' %}">
    </div>

    <div class="question-list">
        {% if latest_catuestion_list %}
            <ul>
                {% for catuestion in latest_catuestion_list %}
                    <li><a href="{% url 'catpolls:detail' catuestion.id %}">{{ catuestion.catuestion_text }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
{% endblock %}
